<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Thanks for coming here!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="/images/about.jpg">
        </div>
        <div class="col-md-6">
            <h2>Namaskara!! is what I would like to start of with being a Bengaluru boy..</h2>

            <p>I'm Gopal Gowda. I'm a Software Engineer, traveller and a fashionist.</p>

            <p>I'm a very optimistic person who always believe in one mantra "What you give you will get back". A great lover of western and Indian music. My favorite music troops are Chain Smokers, Clean Bandit and Fifth Harmony. Will create a music page and you will get to know all of my favorite music albums too. Recently I have started learning to play guitar which kind of a refresher for me to learn something new which is always good to boost your confidence and get going. </p>

            <p>I love hitting gym and also do participate in the running events to keep myself fit. I'm a foodie who love everything cooked by my mother. There's lot to talk about me and yeah let us catch up on any of the social networks mentioned on the contacts page.  </p>
        </div>

    </div>    

</div>
<!-- /.container -->